<div class="app app-header-fixed login-page">
    <div class="container w-xxl w-auto-xs">
        <a href class="block m-t text-center"><img src="img/login-logo.png"></a>
        <div class="">
            <div class="wrapper text-center">
               Letter of Credit Management Portal 
            </div>
            <form name="form" class="form-validation" ng-submit="sendLogin(loginInfo)">
                <div class="list-group-sm m-t">
                    <h4 class="erorr" ng-show="authError">{{authError}}</h4>
                    <div class="list-group-item">
                        <input type="text" placeholder="Username" ng-model="loginInfo.username" class="form-control no-border">
                    </div>
                    <div class="list-group-item  m-t">
                        <input type="password" placeholder="Password" ng-model="loginInfo.password" class="form-control no-border">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-blue btn-block m-t">Login</button>
                <div class="m-t text-center"><a href="">Forgot password?</a></div>
                <div class="line line-dashed"></div>
            </form>
        </div>
    </div>
</div>