<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
            <div class="col-md-4">
                <h1 class="m-n font-thin h3 text-black main-title">Edit User</h1>
                <small class="text-muted"><a href="index.html"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a href="pic-csp-users.html"> PIC / CSP Users</a> <i class="fa fa-angle-right br-gap"></i> Edit User</small>
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <form class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-6">
                                <input ng-model="user.username" type="input" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                                <input ng-model="user.password" type="password" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Contact Number</label>
                            <div class="col-lg-6">
                                <input type="input" ng-model="user.number" class="form-control" value="Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email Address</label>
                            <div class="col-lg-6">
                                <input ng-model="user.email" type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Website</label>
                            <div class="col-lg-6">
                                <input ng-model="user.website" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Address</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" placeholder="Address Line 1" ng-model="user.address.street1">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" ng-model="user.address.street2" class="form-control" placeholder="Address Line 2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" >City</label>
                            <div class="col-lg-6">
                                <input ng-model="user.address.city" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">State</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="user.address.state" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" value="Montclair">Country</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="user.address.country" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" value="Montclair">Zip Code</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="user.address.zip" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button ng-click="createUser(user)" class="btn m-b-xs btn-success">Save</button>
                                <a ui-sref="userlist" class="btn m-b-xs w-xs btn-dark">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>