<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-3">
                    <h2 class="second-head">User</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a ui-sref="userlist"> Users</a> <i class="fa fa-angle-right br-gap"></i> User</small>
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <form name="user_form" class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username</label>
                            <div class="col-lg-6">
                                <input name="username" ng-model="user.username" type="input" class="form-control" required>
                                <span ng-show="user_form.username.$error.required && user_form.username.$dirty">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                                <input name="user_pwd" ng-model="user.password" type="password" class="form-control"
                                ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
                                <span ng-show="user_form.user_pwd.$error.required && user_form.user_pwd.$dirty">
                                  Password is required.
                                </span>
                                <span ng-show="!user_form.user_pwd.$error.required &&
                                  (user_form.user_pwd.$error.minlength || user_form.user_pwd.$error.maxlength) && user_form.user_pwd.$dirty">
                                  Passwords must be between 8 and 20 characters.</span>
                                <span ng-show="!user_form.user_pwd.$error.required &&
                                  !user_form.user_pwd.$error.minlength && !user_form.user_pwd.$error.maxlength &&
                                  user_form.user_pwd.$error.pattern && user_form.user_pwd.$dirty">
                                  Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-3">
                                <input name="user_first_name" type="input" class="form-control" placeholder="First Name" ng-model="user.firstName" required>
                                <span ng-show="user_form.user_first_name.$error.required && user_form.user_first_name.$dirty">
                                  First name is required.
                                </span>
                            </div>
                            <div class="col-lg-3">
                                <input name="user_last_name" type="input" class="form-control" placeholder="Last Name" ng-model="user.lastName" required>
                                <span ng-show="user_form.user_last_name.$error.required && user_form.user_last_name.$dirty">
                                  Last name is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">User Role</label>
                            <div class="col-lg-6">
                                <select ng-model="user.role" class="form-control">
                                    <option ng-value="1">PIC</option>
                                    <option ng-value="2">CSP</option>
                                    <option ng-value="4">ADMIN</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email Address</label>
                            <div class="col-lg-6">
                                <input name="user_email" ng-model="user.email" class="form-control" type="email" required>
                                <span ng-show="user_form.user_email.$error.required && user_form.user_email.$dirty">
                                  Email is required.
                                </span>
                                <span ng-show="!user_form.user_email.$error.required && user_form.user_email.$dirty && user_form.user_email.$error.email">
                                  Invalid email
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Manager</label>
                            <div class="col-lg-6">
                                <label>
                                    <input ng-model="user.manager" type="checkbox"> Manager
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Countries</label>
                            <div class="col-lg-6">
                                <div ng-repeat="country in countries">
                                    <label>
                                        <input ng-model="selectedCountries[country.id]" type="checkbox"> {{country.name}}
                                    </label>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Customers</label>
                            <div class="col-lg-6">
                                <div ng-repeat="customer in customers">
                                    <label>
                                        <input ng-model="selectedCustomers[customer.id]" type="checkbox"> {{customer.username}}
                                    </label>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button ng-click="makeUser(user)" ng-disabled="!user_form.$valid" class="btn m-b-xs btn-success">Save</button>
                                <a ui-sref="userlist" class="btn m-b-xs w-xs btn-dark">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>
