<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-4">
                    <h2 class="second-head">All Users</h2>
                </div>
                <div class="col-md-8 text-center">
                    <div class="row lc-stats">
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Expiring.length}}</span>
                            <br> Expiring
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Update.length}}</span>
                            <br> FD Update
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Frozen.length}}</span>
                            <br> Frozen
                        </div>
                        <div class="col-md-2 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                            <br> Amended</span>
                            <label class="switch">
                                <input ng-model="amendedCustomer" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                            <br> Reviewed</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="reviewedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{New.length}}</span>
                            <br> New LCs
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <div class="table-responsive table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                  <th colspan="9">
                                    <div class="form-group inline-block"><div class="input-group"><input type="text" class="form-control m-r" placeholder="Enter user name"><div class="input-group-btn"><button type="button" class="btn btn-primary">Search</button></div></div></div>
                                    <div class="pull-right adduser"><a ui-sref="newUser" class="btn m-b-xs btn-success"><i class="fa fa-plus"></i> New User </a></div>
                                  </th>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <th data-breakpoints="xs">Name</th>
                                    <th>User Role</th>
                                    <th>Email Address</th>
                                    <th data-breakpoints="xs sm">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users track by $index">
                                    <td>{{user.username}}
                                    <td>{{user.firstName}} {{user.lastName}}</td>
                                    <td>{{roles[user.role]}}</td>
                                    <td>{{user.email}}</td>
                                    <td><a ng-click="editUser(user.id)" class="small-btn action m-r"><i class="fa fa-edit"></i> Edit</a> <a ng-click="deleteUser(user.id,$index)"><i class="fa fa-trash"></i> Delete</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>