<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
            <div class="col-md-3 col-xs-12">
                <h1 class="m-n font-thin h3 text-black main-title">Dashboard</h1>
                <small class="text-muted"><a href=""> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> Dashboard</small>
            </div>
            <div class="col-md-9 text-right stats-column">
                <div class="inline m-r text-left v-middle stats-drop">
                    <h1 class="m-n font-thin h3 text-black">Customer </h1>
                    <span class="dropdown">
<a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
<i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
<span translate="header.navbar.new.NEW" class="stats-drop">{{customerFilter.name}}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="allCustomers(letters)">All</a></li>
                        <li ng-repeat="(key,value) in customers"><a ng-click="filterByCustomer(key,value)">{{value}}</a></li>
                    </ul>
                    </span>
                </div>
                <div class="inline m-r text-left v-middle stats-drop">
                    <h1 class="m-n font-thin h3 text-black">Total LCs</h1>
                    <span class="dropdown">
<a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
<i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
<span translate="header.navbar.new.NEW" class="stats-drop">{{countryFilter.name}}</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="allCountries()">All</a></li>
                        <li ng-repeat="(key,value) in countries"><a ng-click="filterByCountry(key,value)">{{value}}</a></li>
                    </ul>
                    </span>
                </div>
               <!--  <div class="inline m-r text-left stats-col">
                    <div class="m-b-xs top-chart-stats"><span class="text-muted">THIS MONTH</span>
                        <br>{{thisMonth}} </div>
                </div>
                <div class="inline m-r text-left stats-col">
                    <div class="m-b-xs top-chart-stats"><span class="text-muted">LAST MONTH</span>
                        <br>{{lastMonth}} </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm dashboard-stats">
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.newLcs">
                    <div class="panel padder-v item">
                        <div class="mainstatscol">
                            <div class="h1 text-info h1">{{New.length}}</div>
                            <span class="text-muted text-base">New LCs</span>
                        </div>
                        
                        <div class="top text-right w-full">
                            <img class="dashboard-icons" src="/img/newLc.png"/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.reviewed">
                    <div class="panel padder-v item">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="h1 text-info h1">{{Reviewed.length}}</div>
                                <span class="text-muted text-base">Reviewed</span>
                            </div>
                            <div class="col-xs-5 total-stats">
                                <div class="row">
                                    <div style="color:#69ccf6" class="col-xs-12 divided-stats">{{reviewedCustomer}}</div>
                                    <div class="col-xs-12 divided-stats n-b">{{reviewedElite}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.amended">
                    <div class="panel padder-v item">
                    <div class="mainstatscol">
                        <div class="h1 text-info h1">{{Amended.length}}</div>
                        <span class="text-muted text-base">Amendments</span>
                        </div>
                        <div class="top text-right w-full">
                            <img src="/img/amendedLc.png" class="dashboard-icons"/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.revised">
                    <div class="panel padder-v item">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="h1 text-info h1">{{Revised.length}}</div>
                                <span class="text-muted text-base">Revised</span>
                            </div>
                            <div class="col-xs-5 total-stats">
                                <div class="row">
                                    <div style="color:#69ccf6" class="col-xs-12 divided-stats">{{revisedCustomer}}</div>
                                    <div class="col-xs-12 divided-stats n-b">{{revisedElite}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.frozen">
                    <div class="panel padder-v item">
                    <div class="mainstatscol">
                        <div class="h1 text-info h1">{{Frozen.length}}</div>
                        <span class="text-muted text-base">Frozen</span>
                        </div>
                        <div class="top text-right w-full">
                            <img src="/img/frozenLc.png" class="dashboard-icons"/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.updated">
                    <div class="panel padder-v item">
                    <div class="mainstatscol">
                        <div class="h1 text-info h1">{{Update.length}}</div>
                        <span class="text-muted text-base">FD Update</span>
                        </div>
                        <div class="top text-right w-full">
                            <img src="/img/fdupdateLc.png" class="dashboard-icons"/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.expiring">
                    <div class="panel padder-v item">
                    <div class="mainstatscol">
                        <div class="h1 text-info h1">{{Expiring.length}}</div>
                        <span class="text-muted text-base">Expiring</span>
                        </div>
                        <div class="top text-right w-full">
                            <img src="/img/expiringLc.png" class="dashboard-icons"/>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12 col-hf-2">
                <a ui-sref="listManager.archive">
                    <div class="panel padder-v item">
                    <div class="mainstatscol">
                        <div class="h1 text-info h1">{{archivedCount}}</div>
                        <span class="text-muted text-base">Archived</span>
                        </div>
                        <div class="top text-right w-full">
                            <img src="/img/archivedLc.png" class="dashboard-icons"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-md-4">
                <div class="panel wrapper">
                    <h2 class="second-head m-b">LCs By Bank</h2>
                    <canvas id="lcToBank" bankchart banks="banks" height="200" width="200"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel wrapper">
                    <h2 class="second-head m-b">LCs By CSP </h2>
                    <canvas id="lcToCsp" cspchart csp="csps" height="200" width="200"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel wrapper">
                    <h2 class="second-head m-b">LCs By Country</h2>
                    <canvas id="lcToCountries" countrychart countries="countryCharts" height="200" width="200"></canvas>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>