<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-3">
                    <h2 class="second-head">Upload New LC</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a ui-sref="userlist"> New LC</a></small>
                </div>   
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <form name="lc_form" class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC Number</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="letter.lc_number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sales Contract Number</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="letter.contract" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC Start Date</label>
                            <div class="col-lg-2">
                                <div class="input-group date">
                                    <md-datepicker ng-model="letter.date" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                            <label class="col-lg-2 control-label">LC Expire Date</label>
                            <div class="col-lg-2">
                                <div class="input-group date">
                                    <md-datepicker ng-model="letter.expire" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Shipping Date</label>
                            <div class="col-lg-6">
                                <md-datepicker ng-model="letter.ship_date" md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- make into a dropdown -->
                            <label class="col-lg-2 control-label">Customer Name</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.customer" ng-options="customer.id as customer.name for customer in customers">
                                  <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Country Name</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.country" ng-options="country.id as country.name for country in countries">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Client</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.client" ng-options="client.id as client.name for client in clients">
                                  <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Advising Bank</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.bank" ng-options="bank.id as bank.name for bank in banks">
                                  <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">PIC</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.pic">
                                  <option ng-repeat="pic in picUsers" value = "{{pic.id}}">{{pic.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">CSP</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.csp">
                                 <option ng-repeat="csp in cspUsers" value = "{{csp.id}}">{{csp.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC PDF or Text File Upload</label>
                            <div class="col-lg-6">
                                <input type="file" ng-model="file" accept="image/*,application/pdf" ngf-select ng-f-max-height="1000" ngf-max-size="5mb" class="change-pro slim-btn outlined-btn gray-btn float-rt"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button ng-click="createLc()" class="btn m-b-xs btn-success">Upload LC</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>
