<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="panel wrapper">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="second-head">Upload New Lc</h2>
                </div>
                <div class="col-md-8 text-center">
                    <div class="row lc-stats">
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Expiring.length}}</span>
                            <br> Expiring
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Update.length}}</span>
                            <br> FD Update
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Frozen.length}}</span>
                            <br> Frozen
                        </div>
                        <div class="col-md-2 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                            <br> Amended</span>
                            <label class="switch">
                                <input ng-model="amendedCustomer" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                            <br> Reviewed</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="reviewedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{New.length}}</span>
                            <br> New LCs
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <form class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC Number</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="letter.lc_number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sales Contract Number</label>
                            <div class="col-lg-6">
                                <input type="text" ng-model="letter.contract" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- make into a dropdown -->
                            <label class="col-lg-2 control-label">Customer Name</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="selectedClient">
                                  <option ng-repeat="client in clients" ng-value = "{{client}}">{{client.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC Start Date</label>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <md-datepicker ng-model="letter.date" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC End Date</label>
                            <div class="col-lg-6">
                                <div class="input-group date">
                                    <md-datepicker ng-model="letter.expire" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Country Name</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="selectedCountry">
                                    <option ng-repeat="country in countries" ng-value = "{{country}}">{{country.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Advising Bank</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.bank">
                                  <option ng-repeat="bank in banks" value = "{{bank.id}}">{{bank.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">PIC</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.pic">
                                  <option ng-repeat="pic in picUsers" value = "{{pic.id}}">{{pic.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">CSP</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.csp">
                                 <option ng-repeat="csp in cspUsers" value = "{{csp.id}}">{{csp.username}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">LC PDF or Text File Upload</label>
                            <div class="col-lg-6">
                                <input type="file" ng-model="file" accept="image/*,application/pdf" ngf-select ng-f-max-height="1000" ngf-max-size="5mb" class="change-pro slim-btn outlined-btn gray-btn float-rt"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button ng-click="createLc()" class="btn m-b-xs btn-success">Upload LC</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>