<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
            <div class="col-md-3">
                <h2 class="second-head">Clause Manager</h2>
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel wrapper table-responsive">
                    <div class="col-md-8">
                        <div class="col-md-5">
                            <select class="form-control m-b" ng-model="selectedCountry">
                                <option ng-repeat="country in countries" ng-selected="selectedCountry.name===country.name" ng-value="{{country}}">{{country.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control m-b" ng-model="selectedCustomer">
                                <option ng-repeat="customer in customers" ng-selected="selectedCustomer.name==customer.name" ng-value = "{{customer}}">{{customer.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn m-b-xd btn-success" ng-click="search()">Search</button>
                        </div>
                    </div>
                    <table class="table m-b-none table-expandable">
                        <thead>
                            <tr>
                                <th>SWIFT</th>
                                <th>Field Description</th>
                                <th>Line Description</th>
                                <th>Last Change</th>
                                <th>Commercial</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="clause in clauses">
                                <td>{{clause.swift_code}}</td>
                                <td>{{clause.field_description}}</td>
                                <td>{{clause.line_description}}</td>
                                <td>{{clause.updatedAt | date:'mediumDate'}}</td>
                                <td>{{(clause.commercial)?'Com':'Non-Com'}}</td>
                                <td><a ng-click="deleteClause(clause.id,$index)"><i class="fa fa-trash"></i>Delete</a></td>
                            </tr>
                            <tr ng-if="newClause">
                                <th>SWIFT</th>
                                <th>Field Description</th>
                                <th>Line Description</th>
                                <th>Commercial</th>
                            </tr>
                            <tr ng-if="newClause">
                                <td><input class="form-control" ng-model="clauseToBeCreated.swift_code" type="text"/></td>
                                <td ><input class="form-control" ng-model="clauseToBeCreated.field_description" type="text"/></td>
                                <td><input class="form-control" ng-model="clauseToBeCreated.line_description" type="text"/></td>
                                <td></td>
                                <td><label><input ng-model="clauseToBeCreated.commercial" type="checkbox"/>Commercial</label><br/></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a ng-if="!newClause" ng-show="queried" ng-click="toggleNew()" class="btn m-b-xs  btn-success pull-right">+ New Clause</a>
                    <a ng-if="newClause" ng-click="toggleNew()" class="btn m-b-xs btn-sucess pull-right">Cancel</a>
                    <a ng-if="newClause" ng-click="createClause(clauseToBeCreated)" class="btn m-b-xs btn-primary pull-right">Save</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>