<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
            <div class="col-md-4">
                <h1 class="m-n font-thin h3 text-black main-title">Clause Manager</h1>
                <small class="text-muted"><a href=""> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> Clause Manager</small>
            </div>
            <div class="col-md-8 text-center">
                <div class="row lc-stats">
                    <div class="col-md-2 pull-right">
                        <a href="updated-lcs.html"> <span class="stats-numb">30</span>
                        <br> Updated</a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="frozen-lcs.html"> <span class="stats-numb">58</span>
                        <br> Frozen</a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="amended-lcs.html"> <span class="stats-numb">25</span>
                        <br> Amended</a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="reviewed-lcs.html"><span style="display: inline-block;"><span class="stats-numb">26</span>
                        <br> Reviewed</span></a>
                        <label class="switch">
                            <input type="checkbox" checked="">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="new-lcs.html"><span class="stats-numb">112</span>
                        <br> New LCs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel wrapper table-responsive">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <label>
                                <input type="radio" ng-model="radio.value" value="country">
                                Country
                            </label>
                            <label>
                              <input type="radio" ng-model="radio.value" value="customer">
                                Customer
                            </label>
                        </div>
                        <div class="col-md-8" ng-show="radio.value=='country'">
                            <select class="form-control m-b" ng-model="selectedCountry">
                                <option ng-repeat="country in countries" ng-selected="selectedCountry.name===country.name" ng-value="{{country}}">{{country.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-8" ng-show="radio.value=='customer'">
                            <select class="form-control m-b" ng-model="selectedCustomer">
                                <option ng-repeat="customer in customers" ng-selected="selectedCustomer.username==customer.username" ng-value = "{{customer}}">{{customer.username}}</option>
                            </select>
                        </div>
                    </div>
                    <table class="table m-b-none table-expandable">
                        <thead>
                            <tr>
                                <th>SWIFT</th>
                                <th>Field Description</th>
                                <th>Line Description</th>
                                <th>Last Change</th>
                                <th ng-if="radio.value=='customer'">Commercial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="radio.value=='country'" ng-repeat="clause in selectedCountry.clauses">
                                <td>{{clauses[clause].swift_code}}</td>
                                <td>{{clauses[clause].field_description}}</td>
                                <td>{{clauses[clause].line_description}}</td>
                                <td>{{clauses[clause].updatedAt | date:'longDate'}}</td>
                                <td ng-if="radio.value=='customer'">{{clauses[clause].commercial}}</td>
                            </tr>
                            <tr ng-if="radio.value=='customer'" ng-repeat="clause in selectedCustomer.clauses">
                                <td>{{clauses[clause].swift_code}}</td>
                                <td>{{clauses[clause].field_description}}</td>
                                <td>{{clauses[clause].line_description}}</td>
                                <td>{{clauses[clause].updatedAt | date:'longDate'}}</td>
                                <td ng-if="radio.value=='customer'">{{clauses[clause].commercial}}</td>
                            </tr>
                            <tr ng-if="newClause">
                                <td><input class="form-control" ng-model="clauseToBeCreated.swift_code" type="text"/></td>
                                <td ><input class="form-control" ng-model="clauseToBeCreated.field_description" type="text"/></td>
                                <td><input class="form-control" ng-model="clauseToBeCreated.line_description" type="text"/></td>
                                <td></td>
                                <td><label><input ng-model="clauseToBeCreated.commercial" type="checkbox"/>Commercial Clause</label><br/></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a ng-if="!newClause" ng-click="toggleNew()" class="btn m-b-xs  btn-success pull-right">+ New Clause</a>
                    <a ng-if="newClause" ng-click="toggleNew()" class="btn m-b-xs btn-sucess pull-right">Cancel</a>
                    <a ng-if="newClause" ng-click="createClause(clauseToBeCreated)" class="btn m-b-xs btn-primary pull-right">Save</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>