<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-3">
                    <h2 class="second-head">Amend LC</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a ui-sref="userlist"> Amend LC</a></small>
                </div>
               <!--  <div class="col-md-9 text-center">
                    <div class="row lc-stats">
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Expiring.length}}</span>
                            <br> Expiring
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Update.length}}</span>
                            <br> FD Update
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{Frozen.length}}</span>
                            <br> Frozen
                        </div>
                        <div class="col-md-2 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                            <br> Amended</span>
                            <label class="switch">
                                <input ng-model="amendedCustomer" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                            <br> Reviewed</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="reviewedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-2 pull-right">
                            <span class="stats-numb">{{New.length}}</span>
                            <br> New LCs
                        </div>
                    </div> -->
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <form class="bs-example form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label reaquired">LC Number</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" ng-model="letter.lc_number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">Sales Contract Number</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" ng-model="letter.contract">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">LC Start Date</label>
                            <div class="col-lg-2">
                                <div class="input-group date">
                                    <md-datepicker ng-model="letter.date" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                            <label class="col-lg-2 control-label required">LC End Date</label>
                            <div class="col-lg-2">
                                <div class="input-group date">
                                    <md-datepicker ng-model="letter.expire" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">Customer Name</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.customer" ng-options="customer.id as customer.name for customer in customers">
                                  <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">Client</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.client" ng-options="client.id as client.name for client in clients">
                                  <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">Country Name</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.country" ng-options="country.id as country.name for country in countries">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">Advising Bank</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.bank" ng-options="bank.id as bank.name for bank in banks">
                                  <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">PIC</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.pic" ng-options="pic.id as pic.username for pic in picUsers">
                                  <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">CSP</label>
                            <div class="col-lg-6">
                                <select class="form-control m-b" ng-model="letter.csp" ng-options="csp.id as csp.username for csp in cspUsers">
                                 <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label required">LC PDF or Text File Upload</label>
                            <div class="col-lg-6">
                                <input type="file" ng-model="updatedFile" accept="image/*,application/pdf" ngf-select ng-f-max-height="1000" ngf-max-size="5mb" class="change-pro slim-btn outlined-btn gray-btn float-rt"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button ng-click="updateLc()" class="btn m-b-xs btn-success">Update LC</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>