<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
            <div class="col-md-4">
                <h1 class="m-n font-thin h3 text-black main-title">Archive</h1>
                <small class="text-muted"><a href="index.html"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> Archive</small>
            </div>
            <div class="col-md-8 text-center">
                <div class="row lc-stats">
                    <div class="col-md-2 pull-right">
                        <a href="updated-lcs.html"> <span class="stats-numb">30</span>
                        <br> Updated</a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="frozen-lcs.html"> <span class="stats-numb">58</span>
                        <br> Frozen</a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="amended-lcs.html"> <span class="stats-numb">25</span>
                        <br> Amended</a>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="reviewed-lcs.html"><span style="display: inline-block;"><span class="stats-numb">26</span>
                        <br> Reviewed</span></a>
                        <label class="switch">
                            <input type="checkbox" checked="">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="col-md-2 pull-right">
                        <a href="new-lcs.html"><span class="stats-numb">112</span>
                        <br> New LCs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel wrapper p-b-0">
                    <div class="statuses">
                        <table class="table table-expandable">
                            <thead>
                                <tr>
                                    <th>LC Number</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Country</th>
                                    <th>Status</th>
                                    <th>Advising Bank</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="letter in letters">
                                    <td>{{letter.lc_number}}</td>
                                    <td>{{letter.createdAt}}</td>
                                    <td>{{letter.client_name}}</td>
                                    <td>{{letter.country}}</td>
                                    <td>{{state[letter.state]}}</td>
                                    <td>{{letter.bank}}</td>
                                    <td>{{letter.psr}}</td>
                                    <td>{{letter.crc}}</td>
                                    <td><button ng-if="letter.expanded" ng-click="letter.expanded = false">-</button>
                                      <button ng-if="!letter.expanded" ng-click="letter.expanded = true">+</button>
                                      </td>
                                </tr>
                                <tr ng-repeat-end ng-if="letter.expanded">
                                    <td colspan="12" class="secondlevel" ng-click="transition(letter.lc_number)">
                                        <ul class="statuses">
                                            <li ng-class="{active: letter.state===1}"><a ng-disabled="letter.state!==1" ng-click="transition(letter.lc_number)">New<br>Stage 1 of 5</a></li>
                                            <li ng-class="{active: letter.state===2}"><a ng-disabled="letter.state!==2" ng-click="transition(letter.lc_number)">Review<br>Stage 2 of 5</a></li>
                                            <li ng-class="{active: letter.state===3}"><a ng-disabled="letter.state!==3" ng-click="transition(letter.lc_number)">Amend<br>Stage 3 of 5</a></li>
                                            <li ng-class="{active: letter.state===4}"><a ng-disabled="letter.state!==4" ng-click="transition(letter.lc_number)">Freeze<br>Stage 4 of 5</a></li>
                                            <li ng-class="{active: letter.state===5}"><a ng-disabled="letter.state!==5" ng-click="transition(letter.lc_number)">FD Update<br>Stage 5 of 5</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>