<div id="small-chat" ng-if="user">
    <span ng-if="newMessage" class="badge badge-warning pull-right">!</span>
    <a class="open-small-chat" ng-click="open()">
        <i class="fa fa-comments" ng-show="!chat"></i>
        <i class="fa fa-remove" ng-show="chat">X</i>
    </a>
</div>
<div class="small-chat-box fadeInRight animated" ng-if="user" ng-show="chat">
    <div class="heading">
        <small class="chat-date pull-right">
            <a ng-click="back()" class="backbtn"><i class="fa fa-angle-left"></i> Back</a>
        </small> <span ng-if="selectedChat"></span> Admin 
    </div>
    <div ng-if="!selectedChat" class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 234px;">
        <div class="content" style="overflow-y: scroll;width: auto;height: 234px;overflow-x: hidden;">
            <ul>
                <li ng-repeat="(key,value) in contactList"><a ng-click="startChat(key)">{{value.user.username}}</a></li>
            </ul>
        </div>
    </div>
    <div ng-if="selectedChat" class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 234px;">
        
        <div class="content" style="overflow-y: scroll;width: auto;height: 234px;overflow-x: hidden;" scroll-glue>
            <div ng-repeat="chat in selectedChat">
                <div ng-class="{'left':(chat.sender.id !=user.id),'right':(chat.sender.id==user.id)}">
                <div class="author-name">
                    {{chat.sender.firstName}} <small class="chat-date">
                    {{chat.date | date:"mediumDate"}}
                    </small>
                    </div>
                    <div class="chat-message active">
                        <div class="msg-wrap">{{chat.text}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 164.928px;">
        </div>
        <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.4; z-index: 90; right: 1px;"></div>
    </div>
    <div class="form-chat" ng-if="selectedChat">
        <div class="input-group input-group-sm">
            <input id="chatBox" type="text" name="" placeholder="Type message here..." class="form-control" ng-model="message" chat-enter="sendChat(message)">
            <span ng-click="sendChat(message)" class="input-group-btn"> <button class="btn btn-primary" type="button">Send
        </button> </span></div>
    </div>
</div>