<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-3">
                    <h2 class="second-head">All Clients</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> Clients</a></small>
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <div class="table-responsive table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                  <th colspan="9">
                                    <div class="pull-right adduser"><a ui-sref="newClient" class="btn m-b-xs btn-success"><i class="fa fa-plus"></i> New Client </a></div>
                                  </th>
                                </tr>
                                <tr>
                                    <th>Client Code</th>
                                    <th>Name</th>
                                    <th>Customer</th>
                                    <th>Contact Emails</th>
                                    <th data-breakpoints="xs sm">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="client in clients track by $index">
                                    <td>{{client.client_code}}</td>
                                    <td>{{client.name}}</td>
                                    <td>{{customers[client.customer]}}</td>
                                    <td style="word-wrap: break-word;width:100px">{{client.emails.join(', ')}}</td>
                                    <td><a ng-click="editClient(client.id)" class="small-btn action m-r"><i class="fa fa-edit"></i> Edit</a> <a ng-click="deleteClient(client.id,$index)"><i class="fa fa-trash"></i> Delete</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>