<!-- main -->
<div class="col-md-12">
    <!-- main header -->
    <!-- main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel wrapper">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="second-head">LC Management</h2>
                            <span class="font-thin m-t-none m-b text-muted">Overview of the Status of all Letters</span>
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="row lc-stats">
                                <div class="col-md-2 pull-right">
                                    <span class="stats-numb">{{Update.length}}</span>
                                    <br> Updated
                                </div>
                                <div class="col-md-2 pull-right">
                                    <span class="stats-numb">{{Frozen.length}}</span>
                                    <br> Frozen
                                </div>
                                <div class="col-md-2 pull-right">
                                    <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                                    <br> Amended</span>
                                    <label class="switch">
                                        <input ng-model="amendedCustomer" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                                    <br> Reviewed</span>
                                    <label class="switch">
                                        <input type="checkbox" ng-model="reviewedCustomer">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <span class="stats-numb">{{New.length}}</span>
                                    <br> New LCs
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel wrapper" ui-view>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>
<!-- / main -->