<!-- main -->
<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-12">
                    <h2 class="second-head">Letter of Credit</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a ui-sref="listManager.all"> List Manager</a> <i class="fa fa-angle-right br-gap"></i> Letter of Credit</small>
                </div>
<!--                 <div class="col-md-9 text-center">
                    <div class="lc-stats row">
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Expiring.length}}</span>
                            <br> Expiring
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Update.length}}</span>
                            <br> FD Update
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Frozen.length}}</span>
                            <br> Frozen
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                            <br> Amended</span>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Revised.length}}</span>
                            <br> Revised</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="revisedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                            <br> Reviewed</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="reviewedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{New.length}}</span>
                            <br> New LCs
                        </div>
                    </div>
                </div> -->
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="row row-sm">
                    <div class="col-md-5">
                        <div class="panel wrapper">
                            <h2 class="second-head">{{letterClient.name}}  <button ng-if="manager && client" ng-click="freeze()">Force {{(letter.state ===4)? 'un': ''}}freeze</button><button ng-if="user.role==4" ng-click="freeze()">Force {{(letter.state ===4)? 'un': ''}}freeze</button></h2>
                            <span class="font-thin m-t-none m-b  text-muted"><span class="m-l"> • LC Number</span><span class="redcolor">{{letter.lc_number}}</span> • Sales Contract <span class="redcolor">{{letter.contract}}</span>
                            </span>
                            <div class="row">
                                <pdf source="{{letter.uploads[0]}}"></pdf>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="panel wrapper no-pad">
                            <div class="tab-container m-b-none amendment-tab">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href data-toggle="tab" data-target="#tab_1"><h2 class="second-head">Checklist & Action Center</h2></a></li>
                                    <li><a href data-toggle="tab" data-target="#tab_2"><h2 class="second-head">Review Summary</h2></a></li>
                                </ul>
                                <div class="tab-content" style="overflow-y: scroll; height: 660px; overflow-x: hidden;">
                                    <div class="tab-pane active" id="tab_1">
                                        <table class="table m-b-none table-expandable">
                                            <thead>
                                                <tr>
                                                    <th width="7%">SWIFT</th>
                                                    <th width="20%">Field Description</th>
                                                    <th>Line Description
                                                    <th width="15%">Type</th>
                                                    <th width="10%">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat-start="clause in clauses track by $index">
                                                    <td>{{clause.swift_code}}<i ng-if="clause.commercial" class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                                    <td>{{clause.field_description}}
                                                        <!-- <br>
                                                        <br>
                                                        <div class="inline-block">
                                                            <div class="inline-block"><a href=""><img src="img/amend-tick.png"></a></div>
                                                            <div class="inline-block"><a href=""><img src="img/amend-edit.png"></a></div>
                                                            <div class="inline-block"><a href=""><img src="img/amend-clock.png"></a></div>
                                                        </div> -->
                                                    </td>
                                                    <td style="white-space:pre-line;">{{clause.line_description}}
                                                    </td>
                                                    
                                                    <td>{{(clause.commercial)?'Com':'Non-Com'}}</td>
                                                    <td ng-if="clause.status ==null">
                                                        <a ng-click="approve(clause)"><img src="img/tick-inactive.png" alt="Status"></a>
                                                        <a ng-click="clause.expanded=!clause.expanded"><img src="img/edit.png" alt="Status"></a>
                                                    </td>
                                                    <td ng-if="clause.status">
                                                        <a ng-if="clause.status ==1" ng-click="unapprove(clause)"><img src="img/tick-active.png" alt="Status"></a>
                                                        <a ng-if="clause.status == 2" ng-click="unammend(clause)"><img src="img/add.png" alt="Status"></a>
                                                    </td>
                                                    
<!--                                                     <td>
                                                    <div ng-click="clause.expanded = false" ng-if="clause.expanded" class="table-expandable-arrow up"></div>
                                                    <div ng-click="clause.expanded = true" ng-if="!clause.expanded" class="table-expandable-arrow"></div>
                                                    </td> -->
                                                </tr>
                                                <tr  class="secondlevel" ng-show="clause.expanded" ng-repeat-end>
                                                    <td></td>
                                                    <td colspan="4">
                                                        <div class="full-width m-b">
                                                            <textarea ng-model="clause.note" class="full-width" rows="5" placeholder="Add Note"></textarea>
                                                        </div>
                                                        <div class="full-width m-b">
                                                            <button class="btn m-b-xs btn-success" ng-click="ammend(clause)">Add Note</button>
                                                            <button ng-click="clause.expanded = false" class="btn m-b-xs w-xs btn-dark">Cancel</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <div class="text-right">
                                            <button class="btn m-b-xs btn-default" ng-click="submitDraft()">Save Draft</button>
                                            <button href data-toggle="tab" data-target="#tab_2" class="btn m-b-xs btn-success">Next </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <div class="row summery">
                                            <div class="col-md-6">
                                                <table class="table m-b-none no-td-b">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="text-center inline-block box-accepted">{{approved.length}}/
                                                                    {{(client?commercial_clauses.length:business_clauses.length)}}
                                                                    <br/> Accepted</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                            <span class="clauselbl">Approved Clauses</span> <br>
                                                            {{approved.join(', ')}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table m-b-none no-td-b">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="text-center inline-block box-amended">{{amended.length}}/{{(client?commercial_clauses.length:business_clauses.length)}}
                                                                    <br> Amended</div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="clauselbl">Amended Clauses</span><br>
                                                            {{amended.join(', ')}}</td>
                                                        </tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row action-section m-t">
                                          <div class="col-md-12 actionplan">
                                              <button class="btn m-b-xs btn-danger">Preview Email</button>
                                          <div class="pull-right">
                                            <button class="btn m-b-xs btn-success" ng-click="updateLetter()">Confirm</button>
                                          <button class="btn m-b-xs btn-default">Save Draft</button>
                                          <button href data-toggle="tab" data-target="#tab_1" class="btn m-b-xs btn-dark">Cancel</button>
                                          </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>
<!-- / main