<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-4">
                    <h2 class="second-head">New Banks</h2>
                </div>
                <div class="text-center">
                    <div class="lc-stats row">
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Expiring.length}}</span>
                            <br> Expiring
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Update.length}}</span>
                            <br> FD Update
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Frozen.length}}</span>
                            <br> Frozen
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                            <br> Amended</span>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Revised.length}}</span>
                            <br> Revised</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="revisedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                            <br> Reviewed</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="reviewedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{New.length}}</span>
                            <br> New LCs
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <form name="bank_form" class="bs-example form-horizontal" novalidate>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Bank Name</label>
                            <div class="col-lg-6">
                                <input name="bank_name" id="bank_name" ng-model="bank.name" type="input" class="form-control" required>
                                  <span ng-show="bank_form.bank_name.$error.required && bank_form.bank_name.$dirty">
                                    Name is required.
                                  </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Primary Email Address</label>
                            <div class="col-lg-6">
                                <input name="prim_email" ng-model="bank.primary_email" type="email" class="form-control" required>
                                <span ng-show="bank_form.prim_email.$error.required && bank_form.prim_email.$dirty">
                                  Primary email is required.
                                </span>
                                <span ng-show="!bank_form.prim_email.$error.required && bank_form.prim_email.$dirty && bank_form.prim_email.$error.email">
                                  Invalid email
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Secondary Email Address</label>
                            <div class="col-lg-6">
                                <input name="sec_email" ng-model="bank.secondary_email" type="email" class="form-control">
                                <span ng-show="!bank_form.sec_email.$error.required && bank_form.sec_email.$dirty && bank_form.sec_email.$error.email">
                                  Invalid email
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" ng-disabled="!bank_form.$valid" ng-click="createBank(bank)" class="btn m-b-xs btn-success">Save</button>
                                <a ui-sref="banklist" class="btn m-b-xs w-xs btn-dark">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>
