<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-3">
                    <h2 class="second-head">LC's To Be Amended</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a ui-sref="userlist"> Amended</a></small>
                </div>
                <div class="col-md-9 text-center">
                    <div class="lc-stats row">
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Expiring.length}}</span>
                            <br> Expiring
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Update.length}}</span>
                            <br> FD Update
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{Frozen.length}}</span>
                            <br> Frozen
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Amended.length}}</span>
                            <br> Amended</span>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Revised.length}}</span>
                            <br> Revised</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="revisedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span style="display: inline-block;"><span class="stats-numb">{{Reviewed.length}}</span>
                            <br> Reviewed</span>
                            <label class="switch">
                                <input type="checkbox" ng-model="reviewedCustomer">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="col-md-1 pull-right">
                            <span class="stats-numb">{{New.length}}</span>
                            <br> New LCs
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                  <th colspan="9">
<!--                                     <div class="form-group"><label class="sr-only">Search LC</label><div class="input-group"><input type="text" class="form-control" placeholder="Search LC number"><div class="input-group-btn"><button type="button" class="btn btn-primary">Search</button></div></div></div> -->
                                  </th>
                                </tr>
                                <tr>
                                    <th>LC Number</th>
                                    <th>Contract Number</th>
                                    <th>Start Date <a ng-click="sortByDate('date')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Expiry Date <a ng-click="sortByDate('expire')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Client <a ng-click="sort('client')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Country <a ng-click="sort('country')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Status</th>
                                    <th>Advising Bank</th>
                                    <th>PIC</th>
                                    <th>CSP</th>
                                    <!-- <th>Expand</th> -->
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="letter in letters track by letter.lc_number">
                                    <td><a ng-click="transition(letter.lc_number)"> {{letter.lc_number}}</a></td>
                                    <td>{{letter.contract}}</td>
                                    <td>{{letter.date | date:"mediumDate"}}</td>
                                    <td>{{letter.expire | date:"mediumDate"}}</td>
                                    <td>{{clients[letter.client]}}</td>
                                    <td>{{countries[letter.country]}}</td>
                                    <td ng-class="{'new-stat': (letter.state==1 || letter.state == 5),'review-stat':(letter.state==2),'amend-stat':(letter.state==3),'freeze-stat':(letter.state==4)}"><span class="stat-bg td-stat">{{state[letter.state]}}</span></td>
                                    <td>{{banks[letter.bank]}}</td>
                                    <td>{{picUsers[letter.pic]}}</td>
                                    <td>{{cspUsers[letter.csp]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>