<div class="col-md-12">
    <!-- main header -->
    <div class="bg-light lter wrapper-md">
        <div class="row title-space">
                <div class="col-md-3">
                    <h2 class="second-head">LC's To Be Amended</h2>
                    <small class="text-muted"><a ui-sref="dashboard"> LC Portal</a> <i class="fa fa-angle-right br-gap"></i> <a ui-sref="userlist"> Amended</a></small>
                </div>
            </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
        <!-- stats -->
        <div class="row row-sm">
            <div class="col-md-12">
                <div class="panel padder-v item">
                    <div class="table-responsive">
                        <table class="statuses table table-striped m-b-none">
                            <thead>
                                <tr>
                                  <th colspan="9">
                                  </th>
                                </tr>
                                <tr>
                                    <th>LC Number</th>
                                    <th>Contract Number</th>
                                    <th>Start Date <a ng-click="sortByDate('date')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Expiry Date <a ng-click="sortByDate('expire')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Client <a ng-click="sort('client')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Country <a ng-click="sort('country')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th>Status</th>
                                    <th>Advising Bank</th>
                                    <th>PIC</th>
                                    <th>CSP</th>
                                    <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="letter in letters track by $index">
                                    <td><a ng-click="transition(letter.lc_number)"> {{letter.lc_number}}</a></td>
                                    <td>{{letter.contract}}</td>
                                    <td>{{letter.date | date:"mediumDate"}}</td>
                                    <td>{{letter.expire | date:"mediumDate"}}</td>
                                    <td>{{clients[letter.client]}}</td>
                                    <td>{{countries[letter.country]}}</td>
                                    <td ng-class="{'new-stat': (letter.state==1 || letter.state == 5),'review-stat':(letter.state==2),'amend-stat':(letter.state==3),'freeze-stat':(letter.state==4)}"><span class="stat-bg td-stat">{{state[letter.state]}}</span></td>
                                    <td>{{banks[letter.bank]}}</td>
                                    <td>{{picUsers[letter.pic]}}</td>
                                    <td>{{cspUsers[letter.csp]}}</td>
                                    <td><a ng-click="deleteLC(letter.lc_number,$index)"><i class="fa fa-trash"></i> Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / stats -->
    </div>
</div>