<header id="header" class="app-header navbar" role="menu" ng-if="user">
  <!-- navbar header -->
  <div class="navbar-header bg-gray">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
        <!-- brand -->
    <a href="#" class="navbar-brand text-lt">
          <img src="img/logo.png" alt="." class="hidden-folded">
          <img src="img/logo-icon.png" alt="." class="visible-folded">
        </a>
        <!-- / brand -->
  </div>
  <!-- / navbar header -->
  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-maroon-only">
    <!-- buttons -->
    <div class="nav navbar-nav">
        <a href="#" class="btn no-shadow navbar-btn top-btn hidden-xs" ui-toggle-class="app-aside-folded" target=".app"><img src="img/menu.png"></a>
        
        <div class="search-wrap" style="display:inline-block;">
          <a ng-click="search(searchQuery)" class="btn no-shadow top-btn search-top"><img src="img/search.png"></a>
            <input type="text" id="search-text" chat-enter="search(searchQuery)" class="main-search" placeholder="Search by LC Number">
        </div>
    </div>
    <!-- / buttons -->
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

        <a href="JavaScript:Void(0);" style="color: #fff; display: inline-block; padding-right: 0" class="dropdown-toggle"><img src="img/user.png" style="display: inline-block; margin-right: 5px;"> <span style="border-right: 1px solid #b14546; margin-top: 2px; display: inline-block; padding-right: 15px;">Hi, {{user.firstName}} ({{roles[user.role]}})</span></a>
            <a ng-click="logout()" class="dropdown-toggle" style="display: inline-block; color: #fff; padding-left: 10px;">
              <i class="fa fa-sign-out" style="    font-size: 22px;
    vertical-align: middle;
    margin-right: 5px;"></i> Logout
            </a>
            <!-- dropdown -->
            <!-- / dropdown -->
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
               <img src="img/notification.png">
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">1</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl">
                <div class="panel bg-white" style="padding-bottom: 0">
                    <div class="panel-heading drops">
                        Notifications
                    </div>
                    <div class="list-group" style="height: 322px; overflow-y: scroll;">
                        <a ng-click="transition(letter.lc_number)" class="list-group-item" ng-repeat="letter in updatedLetters">
                          <span class="pull-left m-r msg-list" style="background: #7d93aa">S</span>
                          <span class="clear block m-b-none">
                            {{state[letter.state]}}<br><small class="text-muted">{{letter.lc_number}} <br>{{letter.updatedAt|date:'mediumDate'}}</small>
                          </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- / dropdown -->
        </li>
    </ul>
<!--     <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
               <img src="img/message.png">
              <span class="visible-xs-inline">Mails</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">3</span>
            </a>
            dropdown
            <div class="dropdown-menu w-xl">
                <div class="panel bg-white" style="padding-bottom: 0">
                    <div class="panel-heading drops">
                        Mails
                    </div>
                    <div class="list-group">
                        <a href class="list-group-item">
                          <span class="pull-left m-r msg-list" style="background: #7d93aa">S</span>
                          <span class="clear block m-b-none">
                            James Anderson<br><small class="text-muted">Just a reminder that you have… <br>9:08 AM</small>
                          </span>
                        </a>
                        <a href class="list-group-item">
                          <span class="pull-left m-r msg-list" style="background: #6cd2fa">S</span>
                          <span class="clear block m-b-none">
                            James Anderson<br><small class="text-muted">Just a reminder that you have… <br>9:08 AM</small>
                          </span>
                        </a>
                        <a href class="list-group-item">
                          <span class="pull-left m-r msg-list" style="background: #ffb22c">S</span>
                          <span class="clear block m-b-none">
                            James Anderson<br><small class="text-muted">Just a reminder that you have… <br>9:08 AM</small>
                          </span>
                        </a>
                    </div>
                    <div class="panel-footer text-sm">
                        <a href="#notes" data-toggle="class:show animated fadeInRight">Check all messages</a>
                    </div>
                </div>
            </div>
            / dropdown
        </li>
    </ul> -->
      <!-- /nabar right -->
  </div>
    <!-- / navbar collapse -->
</header>
<aside id="aside" class="app-aside hidden-xs bg-dark" ng-if="user">
  <div class="aside-wrap">
      <div class="navi-wrap">
          <!-- nav -->
        <nav ui-nav class="navi clearfix">
          <ul class="nav">
            <li class="">
                <a ui-sref="dashboard" ui-sref-active="active">
                  <i class="fa  fa-dashboard"></i>
                  <span>Dashboard</span>
                </a>
            </li>
            <li>
              <a class="auto">      
                <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
                </span>
                <i class="fa fa-list-alt"></i>
                 <span >List Manager</span>
              </a>
              <ul class="nav nav-sub">
              <li>
                  <a ui-sref="listManager.all" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{letters.length}}</b>
                    <span>All</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.newLcs" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{New.length}}</b>
                    <span>New Lcs</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.reviewed" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{Reviewed.length}}</b>
                    <span>Reviewed</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.amended" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{Amended.length}}</b>
                    <span>Amended</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.revised" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{Revised.length}}</b>
                    <span>Revised</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.frozen" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{Frozen.length}}</b>
                    <span>Frozen</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.updated" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{Update.length}}</b>
                    <span>FD Update</span>
                  </a>
                </li>
                <li>
                  <a ui-sref="listManager.expiring" ui-sref-active="active">
                    <b class="label bg-info pull-right">{{Expiring.length}}</b>
                    <span>Expiring</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
                <a ui-sref="listManager.archive" ui-sref-active="active">
                  <i class="fa fa-archive"></i>
                  <span>Archive</span>
                </a>
              </li>
            <li>
            <li>
                <a ui-sref="listManager.drafts" ui-sref-active="active">
                  <i class="fa fa-file"></i>
                  <span>Drafts</span>
                </a>
              </li>
            <li ng-if="user.role>=4">
              <a ui-sref="clauseManager" ui-sref-active="active">
                <i class="fa fa-file-text"></i>
                <span>Clause Manager</span>
              </a>
            </li>
            <!-- <li>
              <a href="analytics.html">
                <i class="fa fa-bar-chart-o"></i>
                <span>Analytics</span>
              </a>
            </li> -->
            <li ng-if="user.role>=4"><a href="#" class="auto"><span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i><i class="fa fa-fw fa-angle-down text-active"></i></span><i class="fa fa-cloud-upload"></i><span>Upload LCs</span></a>
                  <ul class="nav nav-sub">
                      <li><a ui-sref="createLc" ui-sref-active="active"><span>New LC</span></a></li>
                      <li><a ui-sref="amendList" ui-sref-active="active"><span>Amend LC</span></a></li>
                  </ul>
              </li>
              <li ng-if="user.role>=4"><a href="#" class="auto"><span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i><i class="fa fa-fw fa-angle-down text-active"></i></span><i class="fa fa-users"></i><span>User Master</span></a>
                  <ul class="nav nav-sub">
                      <li><a ui-sref="userlist"><span>PIC / CSP Users</span></a></li>
                      <li><a ui-sref="banklist"><span>Banks</span></a></li>
                      <li><a ui-sref="customerList"><span>Customers</span></a></li>
                      <li><a ui-sref="clientlist"><span>Clients</span></a></li>
                  </ul>
              </li>
              <li class="">
                <a ui-sref="resetPassword" ui-sref-active="active">
                  <i class="fa fa-key"></i>
                  <span>Reset Password</span>
                </a>
            </li>
          </ul>
        </nav>
          <!-- nav -->
      </div>
  </div>
</aside>